<div>
  <p id="errors"></p>
  <h2>All Contacts</h2>
  <ul class="contacts-index"></ul>
</div>


<div>
  <h2>New Contact</h2>
  <form id="new-contact">
    <div>
      <label for="firstname">First name:</label>
      <input id="firstname", name="firstname" type="text" />
    </div>
    <div>
      <label for="lastname">Last name:</label>
      <input id="lastname", name="lastname" type="text" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email", name="email" type="text" />
    </div>
    <div>
      <input id="new-contact-submit" type="submit" />
    </div>
  </form>
</div>