<div>
  <h2>All Contacts</h2>
</div>


<div>
  <h2>New Contact</h2>
  <form id="new-contact">
    <div>
      <label for="firstname"></label>
      <input id="firstname", name="firstname" type="text" />
    </div>
    <div>
      <label for="lastname"></label>
      <input id="lastname", name="lastname" type="text" />
    </div>
    <div>
      <label for="email"></label>
      <input id="email", name="email" type="text" />
    </div>
    <div>
      <input id="new-contact-submit" type="submit" />
    </div>
  </form>
</div>